# Extracted data (too large for git)
AMtown02_extracted/
AMtown02.bag
AMtown02.bag:Zone.Identifier

# Cloned reference repo
AAE5303_opensplat_demo-/

# Python
__pycache__/
*.pyc
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Output
*.ply
output/

# Large data
AMtown02_colmap/images/
AMtown02_colmap/cloud_merged.ply
UAVScenes_download/

# Zone identifiers
*.Zone.Identifier
